<h1>Welcome to the Ethiopian Bank Exchange Rates API</h1>
<p>Available endpoints:</p>
<ul>
    <li><a href="/apidocs">/apidocs</a> - Swagger UI documentation</li>
    <li><a href="/request-stats">/request-stats</a> - Shows total tracked requests (saved in temp/request_stats.json)</li>
    <li><a href="/cbe-exchange-rates">/cbe-exchange-rates</a> - Fetches exchange rates from CBE API</li>
    <li><a href="/cbe-exchange-rates?date=2026-04-24">/cbe-exchange-rates?date=YYYY-MM-DD</a> - Fetches CBE rates for a specific date</li>
    <li><a href="/boa-exchange-rates">/boa-exchange-rates</a> - Scrapes exchange rates from Bank of Abyssinia</li>
    <li><a href="/coop-exchange-rates">/coop-exchange-rates</a> - Scrapes exchange rates from Cooperative Bank of Oromia</li>
    <li><a href="/dashen-exchange-rates">/dashen-exchange-rates</a> - Scrapes exchange rates from Dashen Bank</li>
    <li><a href="/hibret-exchange-rates">/hibret-exchange-rates</a> - Scrapes exchange rates from Hibret Bank</li>
    <li><a href="/wegagen-exchange-rates">/wegagen-exchange-rates</a> - Fetches exchange rates from Wegagen</li>
    <li><a href="/awash-exchange-rates">/awash-exchange-rates</a> - Fetches exchange rates from Awash Bank</li>
    <li><a href="/awash-exchange-rates?date=2026-04-24">/awash-exchange-rates?date=YYYY-MM-DD</a> - Fetches Awash rates for a specific date</li>
    <li><a href="/nib-exchange-rates">/nib-exchange-rates</a> - Scrapes exchange rates from NIB Bank</li>
</ul>